*{
	font-family: 'Russo One', sans-serif;
	
}

body{
	background-image: url("images/background1.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-position: center;
}

.container{
	display: flex;
	justify-content: center;
	margin-top: 150px;
	height: 200px;
}

.foto1{
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid white;
}

.name, .address{
	font-size: 25px;
	text-align: center;
	color: white;
	margin-top: 30px;
}

